#footer.dpfc
  a(href="//github.com/b1ueb1ues/b1ueb1ues.github.io/blob/master/dl-sim/README.md") About this site
  a(href="//github.com/b1ueb1ues/b1ueb1ues.github.io/commits/master") Change Logs
  a(href="//github.com/b1ueb1ues/b1ueb1ues.github.io/issues/new") Feedback
  a(href="//github.com/b1ueb1ues/b1ueb1ues.github.io/blob/master/dl-sim/amulet.csv") Wrymprints
