.loader
#header
  #title.dpfc
    img.logo(src="../favicon.png")
    h1.ml2.mr4 DPS Simulator
    
    .tabs.dpfc
      if page == "Special"
        a.selected Special
      else
        a(href="../sp/index.html") Special
      
      if page == "60s"
        a.selected 60s
      else
        a(href="../60/index.html") 60s
      
      if page == "120s"
        a.selected 120s
      else
        a(href="../120/index.html") 120s
        
      if page == "180s"
        a.selected 180s
      else
        a(href="../180/index.html") 180s
  
  #filter.dpfc
    p.mr1 Rarity:
    select#star.mr3
      option(value="All") All
      option(value="5*") 5 Stars
      option(value="4*") 4 Stars
      option(value="3*") 3 Stars
      
    p.mr1 Element:
    select#element.mr3
      option(value="All") All
      option(value="flame") Flame
      option(value="water") Water
      option(value="wind") Wind
      option(value="light") Light
      option(value="shadow") Shadow
      
    p.mr1 Class:
    select#weapon
      option(value="All") All
      option(value="sword") Sword
      option(value="blade") Blade
      option(value="dagger") Dagger
      option(value="axe") Axe
      option(value="lance") Lance
      option(value="bow") Bow
      option(value="wand") Wand
  
  .v-sep
  #ex.dpfc
    p.mr3 Co-abilities:
    input(type="checkbox", name="ex-kat", value="kat", checked).mr1
    img.mr3(src="../pic/weapon/blade.png", width="15", height="15")
    input(type="checkbox", name="ex-rod", value="rod", checked).mr1
    img.mr3(src="../pic/weapon/wand.png", width="15", height="15")
    input(type="checkbox", name="ex-dag", value="dag").mr1
    img.mr3(src="../pic/weapon/dagger.png", width="15", height="15")
    input(type="checkbox", name="ex-bow", value="bow").mr1
    img.mr3(src="../pic/weapon/bow.png", width="15", height="15")
