head
  meta(charset="utf-8")
  title Dragalia Lost DPS Simulator
  meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=no")
  link(rel="stylesheet", href="../style.css")
  link(rel="shortcut icon" href="../favicon.png")
  //- link(rel="stylesheet", href="//fonts.googleapis.com/icon?family=Material+Icons+Round|Material+Icons+Outlined")
