script(src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
script(type="text/javascript").
  if (typeof jQuery == 'undefined') {
    document.write(unescape("%3Cscript src='//lib.sinaapp.com/js/jquery/3.1.0/jquery-3.1.0.min.js' type='text/javascript'%3E%3C/script%3E"));
  }
script(src="../echarts.common.min.js")
script(src="../papaparse.min.js")
script.
  var advIcons = {
      'default': '../pic/1.png',
  };
  var picfolder = '../pic/'
//- script(src="../b.js")
script(src="../a.js")
script(src="../ui.js")
