@import "destyle";

@sp-base: 5px;
// @brand-color: #1c7ed6;
@brand-color: #d87c7c;
@border-color: #ddd;
@border-hover-color: fade(#000,10%);
@bg-color: #f4f4f4;
@radius: 4px;

html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  color: #333;
  font-size: 12px;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
}

.logo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.dpfc {
  display: flex;
  align-items: center;
}

.spacer {
  flex-grow: 2;
}

.v-sep {
  width: 1px;
  height: 20px;
  background-color: @border-color;
}

select {
  border-radius: @radius;
  color: @brand-color;
  font-weight: 700;
  padding: 10px;
  background-color: @bg-color;
  cursor: pointer;
}

#header,
#footer,
#filter,
#ex {
  text-align: center;
}

@loader-radius: 20px;
@loader-thickness: 1px;
@loader-fg-color: #999;
@loader-bg-color: #eee;
@-webkit-keyframes rotate {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
@keyframes rotate {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -@loader-radius;
  margin-top: -@loader-radius;
  width: @loader-radius*2;
  height: @loader-radius*2;
  border-radius: @loader-radius;
  background: linear-gradient(90deg, @loader-fg-color, @loader-bg-color 100%);
  z-index: 0;
  animation: rotate infinite .75s linear;

  &::before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: @loader-radius;
    background-color: @loader-bg-color;
    border-top-left-radius: @loader-radius;
    border-top-right-radius: @loader-radius;
    box-shadow: 0 0 0 .1px #eee;
    z-index: 1;
  }

  &::before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: @loader-radius;
    background-color: #eee;
    border-top-left-radius: @loader-radius;
    border-top-right-radius: @loader-radius;
    z-index: 1;
  }

  &::after {
    content: " ";
    position: absolute;
    top: @loader-thickness;
    left: @loader-thickness;
    right: @loader-thickness;
    bottom: @loader-thickness;
    background-color: #fff;
    border-radius: @loader-radius - @loader-thickness;
    z-index: 2;
  }
}

#container {
  flex: auto;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  flex-grow: 2;
  position: relative;
  z-index: 2;
}

#header {
  height: 60px;
  width: 100%;
  box-shadow: 0 2px 4px @border-hover-color;
  justify-content: center;
  display: flex;
  align-items: center;

  h1 {
    font-weight: 700;
    text-align: left!important;
  }

  .tabs {
    a {
      padding: 10px;
      position: relative;
      color: #fff;
      font-weight: 700;
      background-color: @bg-color;
      color: @brand-color;

      &:first-child {
        border-top-left-radius: @radius;
        border-bottom-left-radius: @radius;
      }

      &:last-child {
        border-top-right-radius: @radius;
        border-bottom-right-radius: @radius;
      }

      &:not(.selected) {
        &:hover, &:active {
        }
      }

      &.selected {
        font-weight: 700;
        background-color: @brand-color;
        color: #fff;
        cursor: default;
      }
    }
  }
}

#filter,
#ex {
  padding: 0 20px;
}

#footer {
  display: flex;
  align-items: center;
  justify-content: center;

  a {
    padding: 0 10px 20px 10px;
    color: #999;

    &:hover {
      text-decoration: underline;
    }
  }
}

.m(12);
.ml(12);
.mr(12);
.mt(12);
.mb(12);

.m(@n, @i: 0) when (@i =< @n) {
    .m@{i} { margin: @sp-base * @i !important; }
  .m(@n, (@i + 1));
}

.ml(@n, @i: 0) when (@i =< @n) {
  .ml@{i} { margin-left: @sp-base * @i !important; }
  .ml(@n, (@i + 1));
}

.mr(@n, @i: 0) when (@i =< @n) {
  .mr@{i} { margin-right: @sp-base * @i !important; }
  .mr(@n, (@i + 1));
}

.mt(@n, @i: 0) when (@i =< @n) {
  .mt@{i} { margin-top: @sp-base * @i !important; }
  .mt(@n, (@i + 1));
}

.mb(@n, @i: 0) when (@i =< @n) {
  .mb@{i} { margin-bottom: @sp-base * @i !important; }
  .mb(@n, (@i + 1));
}

@media (max-width: 720px) {
  #filter {
    border-top: 1px solid @border-color;
    padding-top: 15px;
    box-shadow: inset 0 2px 4px @border-hover-color;
  }
  select {
    background: none;
    padding: 0;
  }

  #header {
    flex-wrap: wrap;
    height: auto;
    // box-shadow: none;
    // border-bottom: 1px solid @border-color;

    > .v-sep {
      display: none;
    }

    > * {
      width: 100%;
      justify-content: center;
    }

    > #title {
      padding: 10px;
    }

    > #ex {
      padding: 15px;
    }
  }


}
